---

title: "Porfolio de adrianelhombre - Desarrollador y Programador Web"
description: "Contrata a adrian elhombre para crear tus aplicaciones web"

import Layout from "../layouts/Layout.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import BriefcaseIcon from "../components/icons/Briefcase.astro";
import CodeIcon from "../components/icons/Code.astro";
import Hero from "../components/Hero.astro";
import EducationIcon from "../components/icons/Education.astro";
import CheckIcon from "../components/icons/Check.astro";
import Stack from "../components/Stack.astro"
import Education from "../components/Education.astro";
import ProjectsSection from "../components/ProjectsSection.astro";
import Banner from "../components/Banner.astro";
import Badge from "../components/Badge.astro";
import SectionContainerXL from "../components/SectionContainerXL.astro";

---

<Layout
  title={"Porfolio de adrianelhombre - Desarrollador y Programador Web"}
  description="Contrata a adrian elhombre para crear tus aplicaciones web"
>
  <main class="px-4">
    <SectionContainer class="flex min-h-screen">
      <Hero />
    </SectionContainer>
  

  <SectionContainer class="scroll-section py-24">
    <div class="container py-10 rounded-lg">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <CheckIcon class="size-7" />
        Tech Stack
      </h2>
      <Stack />
      </ul>

    </div>
  </SectionContainer>


  <SectionContainer
    id="experiencia"
    class="min-h-screen py-48"
  >
    <div class="container mb-40 scroll-section">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <BriefcaseIcon class="size-7" />
        Experiencia Laboral
      </h2>
      <Experience />
    </div>

    <div class="container scroll-section">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <EducationIcon class="size-7" />
        Estudios
      </h2>
      <Education />
    </div>
  </SectionContainer>

  <SectionContainerXL
    id="proyectos"
    class="py-36"
  >
    <h2 class="text-3xl font-semibol mb-6 flex gap-x-3 items-center scroll-section">
      <CodeIcon class="size-7" />
      Proyectos
    </h2>
    <ProjectsSection />
  </SectionContainerXL>

 



</main>
</Layout>
