---
import EducationItem from "./EducationItem.astro"

const EDUCATION = [
  {
    date: 'Febrero 2022 - Febrero 2024',
    title: 'Desarrollo de Aplicaciones Web - ILERNA',
    description: 'Durante todo el curso realizamos proyectos para poner en practica todos estos lenguajes tanto de forma individual como de forma grupal, tales como POO, aplicaciones para consultas a bases de datos, fetching de datos con APIs, desarrollos de displays para FrontEnd de forma visual y de forma interactiva, juegos como el piedra, papel y tijera o el tres en raya para mejorar la logica de programacion.',
  },
  {
    date: 'March 2022',
    title: 'Marketing UI design in Figma',
    description: 'All of the pages and components are first designed in Figma and we keep a parity between the two versions even as we update the project.'
  }, 
  {
    date: 'April 2022',
    title: 'E-Commerce UI code in Tailwind CSS',
    description: 'Get started with dozens of web components and interactive elements built on top of Tailwind CSS.'
  }
]
---


<ol class="relative border-s border-gray-200 ml-3">

  {
    EDUCATION.map(education => (
      <li class="mb-10 ms-4">
        <EducationItem {...education} />  
      </li>
    ))
  }

</ol>
