---
import EducationItem from "./EducationItem.astro"
import { EDUCATION } from "../data/EducationData.astro"

---


<ol class="relative border-s border-gray-200 ml-3">

  {
    EDUCATION.map(education => (
      <li class="mb-10 ms-4">
        <EducationItem {...education} />  
      </li>
    ))
  }

</ol>
