---
import ExperiencieItem from "./ExperiencieItem.astro"
import { EXPERIENCIE } from "../data/ExperienceData.astro"

---


<ol class="relative border-s border-gray-200 ml-3">

  {
    EXPERIENCIE.map(experiencie => (
      <li class="mb-10 ms-4">
        <ExperiencieItem {...experiencie} />  
      </li>
    ))
  }

</ol>
