---

title: "Porfolio de adrianelhombre - Desarrollador y Programador Web"
description: "Contrata a adrian elhombre para crear tus aplicaciones web"

import Badge from "../components/Badge.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import MailIcon from "../components/icons/Mail.astro";
import SocialPill from "../components/SocialPill.astro";
import GitHubIcon from "./stack/GitHub.astro";
---

<div
  class="max-w-3xl my-auto mx-auto flex flex-col items-center text-center w-10/12 animate-fade-down animate-once animate-delay-200"
>
  <div>
    <img
      class="size-32 md:hidden ml-40 mb-1"
      src="assets/avatar.webp"
      alt="logo porfolio"
    />
  </div>

  <div>

    <div
      class="flex flex-row items-end justify-between "
    >
      <span 
        class="
        pr-6 
        text-white 
        font-bold 
        text-[3.5vw] 
        lg:text-5xl"> Hey, I'm</span>

      <div class="flex items-center">
        <Badge>Disponible para trabajar</Badge>
      </div>

      <div>
        <img
          class="hidden md:block md:size-36 lg:ml-0 lg:size-48 mb-1"
          src="assets/avatar.webp"
          alt="logo porfolio"
        />
      </div>

    </div>
    
    <h1
      class="
      my-[-2.3vw]
      lg:my-0
      text-[8vw]
      md:text-[6.8vw]
      lg:text-7xl
      font-extrabold
      bg-clip-text
      text-transparent
      bg-[linear-gradient(to_right,theme(colors.indigo.400),theme(colors.indigo.100),theme(colors.sky.400),theme(colors.fuchsia.400),theme(colors.sky.400),theme(colors.indigo.100),theme(colors.indigo.400))]
      bg-[length:200%_auto]
      animate-gradient"
      >Adrian Elhombre</h1
    >

    <h2 
      class="
      font-bold 
      text-[3.2vw]
      md:text-[2.75vw]
      lg:text-3xl 
      opacity-80 
      text-wrap 
      max-w-[700px]">
      Web developer based in Zaragoza, Spain.
    </h2>
  </div>

  <nav class="flex gap-4 mt-6 flex-wrap justify-center">
    <SocialPill href="https://www.linkedin.com/in/adrian-elhombre/">
      <LinkedInIcon class="size-4 md:size-6" />
      LinkedIn
    </SocialPill>
    <SocialPill href="https://github.com/adrianelhombre">
      <GitHubIcon class="size-4 md:size-6" />
      GitHub
    </SocialPill>
    <SocialPill href="mailto:adrianelhombrehernandez@gmail.com">
      <MailIcon class="size-4 md:size-6" />
      adrianelhombrehernandez@gmail.com
    </SocialPill>
  </nav>
</div>
