---
const { class: className, id } = Astro.props
---

<section
  id={id}
  data-section={id}
  class={`section ${className} w-full mx-auto container xl:max-w-6xl lg:max-w-5xl md:max-w-3xl`}
>
  <slot />
</section>